/* PART HERO */

.hero {
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), 
    url("/images/content/hero/1x/hero-mobile.webp");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 320px;
    max-width: 375px;
    margin: auto;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),

            rgba(0, 0, 0, 0.5)
            ),

             url("/images/content/hero/2x/hero-mobile@2x.webp");
    }
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),

            rgba(0, 0, 0, 0.5)
            ),

             url("/images/content/hero/1x/hero-tablet.webp");
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),

                rgba(0, 0, 0, 0.5)
                ),

                 url("/images/content/hero/2x/hero-tablet@2x.webp");
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),

            rgba(0, 0, 0, 0.5)
            ),

             url("/images/content/hero/1x/hero-desktop.webp");
    }

    @media screen and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),

                rgba(0, 0, 0, 0.5)  
                ),

                 url("/images/content/hero/2x/hero-desktop@2x.webp");
        }
    }
}

.hero {
    height: 644px;
}

.hero-container {
    align-content: center;
    padding: 0 32px;
    height: 100%;
}

.hero-box {
    max-width: 256px;
}

.hero-title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
}

.hero-text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.hero-link {
    display: block;
    width: fit-content;
    border-radius: 100px;
    padding: 10px 24px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #6f4e37;
    border: none;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;

}

.hero-link:hover {
    opacity: 0.5;
}

.hero-link:focus,
.hero-link:active {
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .hero {
            height: 900px;
    }

    .hero-box {
            max-width: 560px;   }
}

@media screen and (min-width: 1440px) {
    .hero-container {
        padding: 0 64px;
    }

    .hero-title {
        font-size: 56px;
    }
}

