<section class="experience">
  <div class="container experience-container">
    <div class="experience-name">
      <h2 class="experience-title">Coffee Moments</h2>
      <p class="experience-text">
        Experience the warmth and community of CoffeeJoy.
      </p>
    </div>
    <ul class="experience-list">
      <li class="experience-item">
        <img
          class="experience-foto-normal"
          srcset="
            /images/content/experience/1x/close-up.webp    1x,
            /images/content/experience/2x/close-up@2x.webp 2x
          "
          src="/images/content/experience/1x/close-up.webp"
          alt="Foto A close-up of a ceramic cup with a latte and delicate leaf-shaped foam art"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-foto-normal"
          srcset="
            /images/content/experience/1x/breakfast.webp    1x,
            /images/content/experience/2x/breakfast@2x.webp 2x
          "
          src="/images/content/experience/1x/breakfast.webp"
          alt="Foto A breakfast scene with a filter coffee in a glass server, a small ceramic mug, and a plate with a croissant and butter"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-foto-small"
          srcset="
            /images/content/experience/1x/quiet-cafe.webp    1x,
            /images/content/experience/2x/quiet-cafe@2x.webp 2x
          "
          src="/images/content/experience/1x/quiet-cafe.webp"
          alt="Foto A quiet café corner with a beige armchair and a small round wooden table"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-foto-small"
          srcset="
            /images/content/experience/1x/hands.webp    1x,
            /images/content/experience/2x/hands@2x.webp 2x
          "
          src="/images/content/experience/1x/hands.webp"
          alt="Foto Hands of a barista gently pouring a rich espresso"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-foto-normal"
          srcset="
            /images/content/experience/1x/furniture.webp    1x,
            /images/content/experience/2x/furniture@2x.webp 2x
          "
          src="/images/content/experience/1x/furniture.webp"
          alt="Foto A wide view of the CoffeeJoy interior"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-foto-normal"
          srcset="
            /images/content/experience/1x/two-coffee.webp    1x,
            /images/content/experience/2x/two-coffee@2x.webp 2x
          "
          src="/images/content/experience/1x/two-coffee.webp"
          alt="Foto Two coffee cups on a small round table outdoors"
        />
      </li>
      <li class="experience-item">
        <img
          class="experience-foto-normal"
          srcset="
            /images/content/experience/1x/cofe-out.webp    1x,
            /images/content/experience/2x/cofe-out@2x.webp 2x
          "
          src="/images/content/experience/1x/cofe-out.webp"
          alt="Foto A takeaway coffee cup with a kraft sleeve"
        />
      </li>
    </ul>
  </div>
</section>
