<footer class="footer">
  <div class="container footer-container">
    <div class="top-row">
      <div class="logo">
        <img src="../images/logo.svg" alt="CoffeeJoy Logo" />
      </div>

      <ul class="social-links-list">
        <li class="social-links-item">
          <a
            class="social-link"
            href="https://www.facebook.com/"
            target="_blank"
          >
            <svg class="social-ikons">
              <use href="../images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a
            class="social-link"
            href="https://www.instagram.com/"
            target="_blank"
          >
            <svg class="social-ikons">
              <use href="../images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-item">
          <a class="social-link" href="https://x.com/" target="_blank">
            <svg class="social-ikons">
              <use href="../images/sprite.svg#icon-X"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <ul class="footer-menu">
      <li>
        <a class="footer-menu-item" href="#">About us</a>
      </li>
      <li>
        <a class="footer-menu-item" href="#">Benefits</a>
      </li>
      <li>
        <a class="footer-menu-item" href="#">Gallery</a>
      </li>
      <li>
        <a class="footer-menu-item" href="#">Testimonial</a>
      </li>
      <li>
        <a class="footer-menu-item" href="#">Location</a>
      </li>
    </ul>
  </div>

  <p class="copyright">&copy; 2025 CoffeeJoy. All rights reserved.</p>
</footer>
