<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo header-logo" href="./index.html">
        <img src="/images/logo.svg" alt="Logo" width="64" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#welcome">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#quality">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-button" type="button" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="/images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
