<!-- MOBILE MENU  -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container container">
    <div class="mibile-menu-start">
      <img
        class="mobile-menu-logo"
        src="/images/logo.svg"
        alt="Logo"
        width="84"
      />
      <button
        aria-label="close menu button"
        class="menu-close-button"
        type="button"
        data-menu-close
      >
        <svg class="close-button" width="24" height="24">
          <use href="/images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#welcome" onclick="toggleModal()"
            >About us</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#quality" onclick="toggleModal()"
            >Benefits</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#experience" onclick="toggleModal()"
            >Gallery</a
          >
        </li>
        <li class="mobile-nav-item">
          <a
            class="mobile-nav-link"
            href="#testimonials"
            onclick="toggleModal()"
            >Testimonials</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#location" onclick="toggleModal()"
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
