<section id="testimonials" class="container testimonials">
  <div class="testimonials-block">
    <h2 class="testimonials-title">What our visitors say</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "Every cup feels like a warm hug! I’m addicted to their seasonals
            flavors!"
          </p>
        </div>
        <p class="testimonials-person-name">Name Surname</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are alsways friendly."
          </p>
        </div>
        <p class="testimonials-person-name">Alsice Johnson</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
        </div>
        <p class="testimonials-person-name">Michael Smith</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>

            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>

            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>
        </div>
        <p class="testimonials-person-name">Emily Davis</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
        </div>
        <p class="testimonials-person-name">James Brown</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
        </div>
        <p class="testimonials-person-name">Sarah Wilson</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "I’m addicted to their seasonals flavors! Each one is crafted with
            such care and creativity."
          </p>
        </div>
        <p class="testimonials-person-name">Chris Lee</p>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-box">
          <ul class="star-icon-list">
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="testimonials-star-item">
              <svg class="star-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-desc">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethicals business!"
          </p>
        </div>
        <p class="testimonials-person-name">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
