<section id="welcome" class="welcome-section">
  <div class="container welcome-container">
    <div class="first-wrapper">
      <p class="special-text">Welcome</p>
      <h1 class="welcome-hedder">Our Journey: Passion for Quality Coffee</h1>
    </div>
    <div class="second-wrapper">
      <p class="welcome-text">
        At CoffeeJoy, we believe that every cup tells a story. Our mission is to
        bring you the finest coffee experiences, crafted with care and
        dedication. We are committed to sourcing high-quality beans and roasting
        them to perfection, ensuring each sip is a delight.
      </p>
      <a class="location-button" href="#location">
        Find location
        <svg class="location-svg" width="24" height="24">
          <use href="/images/sprite.svg#icon-map-pin"></use>
        </svg>
      </a>
    </div>
    <img
      class="image-welcome-section"
      srcset="
        /images/content/welcome/1x/image.webp    1x,
        /images/content/welcome/2x/image@2x.webp 2x
      "
      src="/images/content/welcome/1x/image.webp"
      alt="Barista preparing coffee with care"
    />
  </div>
</section>
